body {
	background-color: #dddddd;
}
table.infos {
	border: 3px ridge #000000;
}
table.redirection {
	background-color: #dddddd;
}
td.header {
	background-color: #ffffff;
}
td.verticalmenu {
	background-color: #191919;
}
td.bgr {
	background-color: #dddddd;
}
td.affichage_table {
	border: 1px solid #000000;
	text-align: center;
	font-weight: bold;
}
#titre {
	font-size:16pt;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}
#titre_article {
	font-size:14pt;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}
#write_by {
	font-size:11pt;
	color: #888888;
	font-weight: bold;
}
#fwd {
	font-size:9pt;
	color: #888888;
	font-weight: bold;
}
#tuto_infos {
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	font-size:14pt;
}
#objectifs {
	font-weight: bold;
	text-decoration:underline;
	color: #000000;
	font-size:12pt;
}
.form {
	margin-bottom: 0;
}
.input {
	border: 1px solid #808080;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	height: 17px;
}
.input:focus {
	border: 1px solid #dddddd;
}
.button{
	font-size: 14px;
	border: 1px solid #808080;
	background-color: #000000;
	color: #ffffff;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	font-weight: bold;
}
.button:hover {
	border: 1px solid #000000;
	background-color: #808080;
	color: #000000;
}
.searchbtn{
	height: 20px;
	font-size: 11px;
	border: 1px solid #808080;
	background-color: #ffffff;
	color: #000000;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	font-weight: bold;
}
.searchbtn:hover {
	border: 1px solid #000000;
	background-color: #808080;
	color: #000000;
}
#hormenu {
	font-weight: bold;
}
#verticalmenu_text {
	color: #ffffff;
}
#horizontalmenu_text {
	color: #000000;
}
#breadcrumbs {
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
a.breadcrumbs {
	font-weight: bold;
	color: #ffffff;
}
a.partie, li.partie {
	font-size:16pt;
	font-weight: bold;
	color: #444444;
}
a.chapitre, li.chapitre {
	font-size:14pt;
	font-weight: bold;
	color: #444444;
}
a.bloc, li.bloc {
	font-size:12pt;
	font-weight: bold;
	color: #444444;
}
a.horizontalmenu {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.horizontalmenu:hover {
	text-decoration: underline;
}
a.horizontalmenu_selected {
	color: #555555;
	text-decoration: none;
}
a {
	color: #444444;
	text-decoration: underline;
}
#normal {
	font-size:12pt;
	font-weight: normal;
	color: #000000;
}

/* ************************************ */
/* ********** vertical menu *********** */
/* ************************************ */
.menu{
    width:152px;
    width/**/:150px;
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #ffffff solid;
    margin:0;
    padding:0;
		font-weight: bold;
		font-family: "Trebuchet MS","Times New Roman";
		font-size: 10pt;
    }
.menu span{
    display:none;
    }
.menu ul{
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #ffffff solid;
    margin:0;
    padding:0;
    position:absolute;
    width:152px;
    width/**/:150px;
    }
.menu li ul{
    visibility:hidden;
    }
.menu a{
    text-align:center;
    background-color: #191919;
    color: #ffffff;
    display:block;
    width:150px;
    border-bottom: 1px #ffffff solid;
    text-decoration:none;
    margin:0;
    padding:3px 0 3px 0;
		font-weight: bold;
		font-family: "Trebuchet MS","Times New Roman";
		font-size: 10pt;
    }
.menu a:hover{
    background-color: #333333;
    color: #ffffff;
    }
.menu a:focus{
    background-color: #333333;
}
.menu span{
    display:none;
    }
.menu li{
    width:150px;
    display:block;    
    float:left;  
    list-style:none;
    margin:0;
    padding:0;
    }
* html .menu li {
    display:inline;
    float:none;
    }
a.linkOver{
    background-color: #777777;
    }
    
/* ************************************ */
/* ************** whatis ************** */
/* ************************************ */
a.whatis {
   position: relative;
   color: black;
   text-decoration: none;
   border-bottom: 1px gray dotted;
}
a.whatis span {
   display: none;
}
a.whatis:hover {
   background: none;
   z-index: 500;
   cursor: help;
}
a.whatis:hover span {
   display: inline;
   position: absolute;
   white-space: nowrap;
   top: 30px;
   left: 20px;
   background: #dddddd;
   color: #000000;
   padding: 3px;
   border: 1px solid #000000;
   border-left: 4px solid #000000;
}
